.row {
    float: left;
    width: 100%;
    font-size: 20px;
  }
  .boxcenter {
    width: 80%;
    margin: 0 auto;
  }
  body {
    margin: 0;
  }
  header {
    background-color: #138c89;
    min-height: 200px;
  }
  .boxcenter img {
    display: block;
    width: 100%;
  }
  nav {
    min-height: 20px;
    margin-top: 25px;
  }
  .rowmenu {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
  }
  .logonam img {
    width: 100%;
    max-width: 120px;
    padding-left: 20px;
  }
  .thptpd {
    text-transform: uppercase;
    color: #138c89;
    font-weight: bold;
    margin: 20px 40px;
    font-size: 20px;
  }
  iframe {
    width: 100%;
    min-height: 500px;
  }
  article {
    background-color: white;
    min-height: 500px;
    /* margin: 20px 0; */
  }
  
  footer {
    background-color: #138c89;
    min-height: 250px;
  }
  .img {
    width: 800px;
    height: auto;
    display: block;
  }
  
  .boxnews img {
    width: 30%;
    float: left;
    margin-right: 30px;
    display: block;
  }
  .boxnews a {
    font-size: 23pt;
    text-decoration: none;
    font-style: unset;
    color: darkcyan;
    display: block;
  }
  .boxnews p {
    font-size: 13pt;
    font-style: unset;
  }
  .mrbt {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .menu {
    margin-bottom: 20px;
  }
  .menu li {
    display: inline;
    margin-left: 13%;
    font-weight: bold;
    font-size: 17px;
  }
  .menu li:nth-child(1) {
    margin-left: 0px;
  }
  .rowpost {
  }
  .menu li a {
    color: black;
    display: inline;
    text-decoration: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .menu li a:hover {
    color: blue;
  }
  .boxtop {
    background-color: #138c89;
    margin-bottom: 10px;
  }
  .boxtop p {
    color: white;
    margin-left: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 1px 1px 2px white;
    font-size: larger;
  }
  .boxtop p img {
    width: 50px;
    display: inline;
  }
  .menutop li {
    padding: 6px;
    color: white;
  }
  .menutop li a {
    color: white;
    text-decoration: none;
  }
  .menutop li a:hover {
    color: navy;
  }
  .imgtop {
    float: right;
    display: block;
    margin: 15px 10px;
    width: calc(40%-10px);
  }
  .tb {
    float: left;
    margin-left: 25px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menuft h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    /* text-align: center; */
  }
  .menuft li {
    color: white;
    /* margin-left: 55px; */
    /* text-align: left; */
  }
  .menuft li a {
    text-decoration: none;
    color: white;
    font-size: small;
  }
  .menuft li a:hover {
    color: navy;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding: 20px;
  }
  
  .gioithieu {
    margin-left: 90px;
  }
  .thongbao {
    margin-left: 25px;
  }
  .ques-item {
    margin-bottom: 15px;
  }
  .gopy {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
  }
  .title{
      margin: 20px 0;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  .control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    
  }
  .control:hover{
  border-color: aqua;
  }
  textarea:hover{
      border-color: aqua;
  }
  
  .btnSubmit {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .btnSubmit:hover {
    background-color: rgb(168, 11, 11);
  }